alabaster
asttokens
attrs
Automat
Babel
backcall
beautifulsoup4
blinker
blis
bs4
catalogue
certifi
chardet
click
cmake
colorama
comm
confection
configobj
constantly
contourpy
cryptography
cssutils
cycler
cymem
dateparser
debugpy
decorator
dill
distro
docopt
docutils
entrypoints
executing
filelock
fonttools
gensim
httplib2
huggingface-hub
hyperlink
idna
imagesize
importlib-metadata
importlib-resources
incremental
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jupyter-client
jupyter-core
jupyterlab-widgets
keyring
kiwisolver
langcodes
launchpadlib
lazr.restfulclient
lazr.uri
lit
lxml
MarkupSafe
matplotlib
matplotlib-inline
more-itertools
mpmath
multiprocess
murmurhash
nest-asyncio
netifaces
networkx
nltk
numpy
numpydoc
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
olefile
packaging
pandas
pandas-datareader
parso
pathos
pathy
pexpect
pickleshare
Pillow
platformdirs
ply
pox
ppft
preshed
prompt-toolkit
psutil
pure-eval
pyasn1
pyasn1-modules
pydantic
Pygments
PyHamcrest
PyJWT
pymacaroons
PyNaCl
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-dateutil
python-debian
pytz
pytz-deprecation-shim
PyYAML
pyzmq
regex
requests
requests-unixsocket
roman
scikit-learn
scipy
SecretStorage
sentence-transformers
sentencepiece
service-identity
setproctitle
simplejson
six
sklearn
smart-open
sos
soupsieve
spacy
spacy-legacy
spacy-loggers
Sphinx
srsly
ssh-import-id
stack-data
sympy
thinc
threadpoolctl
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
triton
Twisted
typer
typing-extensions
tzdata
tzlocal
urllib3
wadllib
wasabi
wcwidth
widgetsnbextension
word2number
xonsh
zipp
zope.interface
